.App {
  text-align: center;
}

input {
  text-align:center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-logo{
  margin: 0px 0px 0px 10px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container-links{
  margin: 0px 5px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  gap: 1rem;
}

#release-field{
  width: 8%;
}
